<!DOCTYPE html>

<html>
<head>
    <title>blog</title>
<h1>首页</h1>
</head>

<body style="background-image:url('./blog1/timg.jpg')">




  {% archives as date_list %}
    {% for date in date_list%}
      <a href="/timelist">{{ date.year }} 年 {{ date.month }} 月</a>
    {% empty %}
    暂无归档！
    {% endfor %}


<div class="widget widget-recent-posts">
  <h3 class="widget-title">最新文章</h3>
  {% get_recent_posts as recent_post_list %}
  <ul>
    {% for post in recent_post_list%}
    <li>
      <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
    </li>
    {% empty %}
    暂无文章！
    {% endfor %}
  </ul>
</div>
<div class="widget widget-category">
  <h3>分类</h3>
  {% get_categories as category_list %}
  <ul>
    {% for category in category_list %}
    <li>
      <a href="{{category.get_absolute_url}}">{{ category.name }} <span class="post-count"></span></a>
    </li>
    {% empty %}
    暂无分类！
    {% endfor %}
  </ul>
</div>



</body>
</html>
























